{% extends 'app/base.html' %}
{% block title %} Items List {% endblock %}
{% block content %}
<div class="container mt-4">
	{% if messages %}
{% for m in messages %}
<div class="alert alert-{{m.tags}} alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{m}}
</div>
{% endfor %}
{% endif %}
	<div class="row">
		<div class="card col col-md-4 mx-2 shadow-lg">
			<div class="card-body">
				<h3 class="bg-info text-light border rounded text-center p-2">Add Items</h3>
				<form method="post" enctype="multipart/form-data">
					{% csrf_token %}
					{% for n in r %}
					<div>{{n}}</div>
					{% endfor %}
					<div class="row">
						<div class="col">
							<input type="reset" value="Reset" class="btn btn-outline-danger form-control my-2">
						</div>
						<div class="col">
							<input type="submit" value="Create Item" class="btn btn-outline-success my-2 form-control">
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="card col-md mx-2 shadow-lg">
			<div class="card-body">
				<h3 class="bg-warning text-light text-center border rounded p-2">List of Items</h3>
				<table class="table table-borderless table-hover">
					<tr class="bg-dark text-light">
						<th>Sno</th>
						<th>Item Name</th>
						<th>Category</th>
						<th>Price</th>
						<th>Availability</th>
						<th>Actions</th>
					</tr>
					{% for v in s %}
					<tr>
						<td>{{forloop.counter}}</td>
						<td>{{v.iname}}</td>
						<td>
							{% if v.icategory == 'VG' %}
							<span class="badge badge-success">Vegeterian</span>
							{% else %}
							<span class="badge badge-danger">Non Vegeterian</span>
							{% endif %}
						</td>
						<td>{{v.price}}</td>
						<td>
							{% if v.itavailability == 'AV' %}
							<span class="badge badge-success">Available</span>
							{% else %}
							<span class="badge badge-danger">Not Available</span>
							{% endif %}
						</td>
						<td><a href="#" class="btn btn-outline-info mx-1">Update</a><a href="#" class="btn btn-outline-danger mx-1">Delete</a></td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}