{% extends 'app/base.html' %}
{% block title %}Give Permissions{% endblock %}
{% block content %}
<div class="container mt-4">
	<div class="card col-md-8 mx-auto shadow-lg">
		<div class="card-body">
			<h3>Granting Permissions</h3>
			<table class="table table-borderless table-hover">
				<tr class="bg-dark text-light">
					<th>Sno</th>
					<th>Username</th>
					<th>Role Requested</th>
					<th>Role Granted</th>
					<th>Actions</th>
				</tr>

			</table>
		</div>
	</div>
</div>
{% endblock %}